<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        {{#if logged_in}}
          <a href="/profile">profile</a>
          |
          <button class="no-button" id="logout">logout</button>
        {{else}}
          <a href="/login">login</a>
        {{/if}}
        <main class="container container-fluid mt-5">
          <!-- Render the sub layout -->
          {{{body}}}
        </main>
        {{! <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div> }}
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#">Unfinished Project</a></li>
            <li><a href="#">Completed Project</a></li>

          </ul>
        </div>
      </div>
    </nav>

    {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}

  </body>
</html>