<section>
  <div class="card">
    <div class="card-header">
      <h2>Create New Post</h2>
    </div>

    <form class="new-post-form card-body">

      <div class="mb-3 form-outline">
        <label for="post-title">Title</label>
        <input
          type="text"
          id="post-title"
          name="post-title"
          class="form-control w-50"
        />
      </div>

      <div class="mb-3 form-outline">
        <label for="post-text">Content</label>
        <textarea name="post-text" class="form-control w-50 h-30"></textarea>
      </div>

      <button type="submit" class="btn">Create</button>

    </form>
  </div>
</section>

<script src="/js/addpost.js"></script>